

<h1>Result</h1>

<div class="container m-3">
  <p><%= @message %></p>

    <p>It took you <%= @elapsed_time %> seconds to answer</p>

    <p>Your score is: <%= @score %></p>

    <p>Your total score is: <%= session[:total_score] %></p>

  <%= link_to "Play again", new_path %>

  <%= button_to "Reset score", clear_path, method: "get" %>

</div>
